annotated-types==0.7.0
anthropic==0.83.0
anyio==4.12.1
babel==2.18.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
courlan==1.3.2
cryptography==46.0.5
dateparser==1.3.0
distro==1.9.0
docstring_parser==0.17.0
elevenlabs==2.36.1
feedparser==6.0.12
google-ai-generativelanguage==0.6.15
google-api-core==2.30.0
google-api-python-client==2.190.0
google-auth==2.49.0.dev0
google-auth-httplib2==0.3.0
google-generativeai==0.8.6
googleapis-common-protos==1.72.0
grpcio==1.78.1
grpcio-status==1.71.2
h11==0.16.0
htmldate==1.9.4
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
idna==3.11
jiter==0.13.0
jusText==3.0.2
lxml==6.0.2
lxml_html_clean==0.4.3
-e git+https://github.com/naotochan/Newsy.git@7bef67b5b2fbfb270b6a4eb5ef6dea98afbf7c91#egg=newsy
numpy==2.4.2
openai==2.23.0
proto-plus==1.27.1
protobuf==5.29.6
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydub==0.25.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
regex==2026.2.19
requests==2.32.5
sgmllib3k==1.0.0
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
tld==0.13.1
tqdm==4.67.3
trafilatura==2.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
websockets==16.0
